mixin button()    
    - var params = {}
    - params.mod = 'button'
    - params.js = ''
    - params.value = ''

    if attributes.params
        +mergeObj(params, attributes.params)

    button(class=params.mod+params.js, type='button', onclick=params.onclick)&attributes(params.attr)
        | #{params.value}
        block