mixin button()    
    if attributes.params
        - var mod = ''
        - var params = attributes.params
        - mod = params.mod?mod + ' ' + params.mod:mod
        - var js = params.js?' ' + params.js:''
        - var value = params.value?params.value:''

        button(class=`button${mod}${js}`, disabled)
            | #{value}