include color-example/color-example
include color-name/color-name
include color-hex/color-hex

mixin color([name, hex], color_mix, example_mix, name_mix, hex_mix)
    - var color_mix = color_mix?' ' + color_mix:''

    div(class=`color${color_mix}`)
        +color-example(example_mix)
        +color-name(name_mix)
            | #{name}
        +color-hex(hex_mix)
            | #{hex}