mixin container()    
    - var params = {}
    - params.mod = 'container'
    - params.js = ''

    if attributes.params
        +mergeObj(params, attributes.params)

    div(class=params.mod+params.js)
        block