mixin container()
    - var mod = ''
    if attributes.params
        - var params = attributes.params
        - mod = params.mod?mod + ' ' + params.mod:mod

    div(class=`container${mod}`)
        block