=container_formElements($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    &.container_formElements#{$mixinClass}
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-column-gap: 28px
        height: 1855px
        @content