extends ../_templates/main/main

include ../../core/init/init

block css
    +css("main.css")
    +css("uikit.css")
block title 
    | index.html
block body 
    +page(mod='page_uikit')
        +panel()
            +container(mod='container_colorsTypes')
                +column(mod='column_colorsTypes')
                    +color(elem={example:{mod:'color-example_dark'},name:{block:'Dark Shade 100%'}, hex:{block:'#1F2041'}})
                    +color(elem={example:{mod:'color-example_dark75'},name:{block:'Dark Shade 75%'}, hex:{block:'#1F2041'}})
                    +color(elem={example:{mod:'color-example_dark50'},name:{block:'Dark Shade 50%'}, hex:{block:'#1F2041'}})
                    +color(elem={example:{mod:'color-example_dark25'},name:{block:'Dark Shade 25%'}, hex:{block:'#1F2041'}})
                    +color(elem={example:{mod:'color-example_dark5'},name:{block:'Dark Shade 5%'}, hex:{block:'#1F2041'}})
                    +color(elem={example:{mod:'color-example_purple'},name:{block:'Purple'}, hex:{block:'#BC9CFF'}})
                    +color(elem={example:{mod:'color-example_green'},name:{block:'Green'}, hex:{block:'#6FCF97'}})
                +column(mod='column_colorsTypes')
                    +type(mod='type_h1',elem={tag:{block:'H1'},example:{block:'This one is the sub-section or widget title'}})
                    +type(mod='type_h2',elem={tag:{block:'H2'},example:{block:'Next one is the item title inside widgets'}})
                    +type(mod='type_h3',elem={tag:{block:'H3'},example:{block:'This is a label or CTA text'}})
                    +type(elem={tag:{block:'Body'},example:{block:'This is the body text which is used for most of the design, like paragraphs, lists, etc.'}})
        +panel()
            +container(mod='container_formElements')
                +column(mod='column_formElements')
                    +element()
                        +title(block='Text field', subtitle={block:'Default'})
                        +input(attr={type:'text',placeholder: 'Email'})
                    +element()
                        +title(block='Text field', subtitle={block:'Hover/Focused'})
                        +input(mod='input_hovered', attr={type:'text',value:'This is pretty awesome'})
                    +element()
                        +title(block='Dropdown', subtitle={block:'Default'})
                        +dropdown(title={block:'Сколько гостей'})
                    +element()
                        +title(block='Maskted text field', subtitle={block:'Default'})
                        +input(mod='input_hovered', attr={type:'text',value:'This is pretty awesome'})
                    +element()
                        +selectDate()         
                +column(mod='column_formElements')
                +column(mod='column_formElements')
        +panel()
            +container(mod='container_cards')
        +panel()
            +container(mod='container_headersFooters')
    +js('vendors.js')
    +js('main.js')  
    +js('uikit.js')