extends ../_templates/main/main

include ../../core/init/init

block css
    +css("main.css")
    +css("uikit.css")
block title 
    | index.html
block body 
    +page('page_uikit')
        +panel()
            +container('container_colorsTypes')
                +colors()
                    +color(['Dark Shade 100%', '#1F2041'], '', 'color-example_dark')
                    +color(['Dark Shade 75%', '#1F2041'], '', 'color-example_dark75')
                    +color(['Dark Shade 50%', '#1F2041'], '', 'color-example_dark50')
                    +color(['Dark Shade 25%', '#1F2041'], '', 'color-example_dark25')
                    +color(['Dark Shade 5%', '#1F2041'], '', 'color-example_dark5')
                    +color(['Purple', '#BC9CFF'], '', 'color-example_purple')
                    +color(['Green', '#6FCF97'], '', 'color-example_green')
                +types()
                    +type(['H1', 'This one is the sub-section or widget title'], 'type_h1')
                    +type(['H2', 'Next one is the item title inside widgets'], 'type_h2')
                    +type(['H3', 'This is a label or CTA text'], 'type_h3')
                    +type(['Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'])
        +panel()
            +container('container_formElements')
        +panel()
            +container('container_cards')
        +panel()
            +container('container_headersFooters')
    +js('vendors.js')
    +js('main.js')  
    +js('uikit.js')