extends ../_templates/main/main

include ../../core/init/init

block css
    +css("main.css")
    +css("uikit.css")
block title 
    | index.html
block body 
    +page('page_uikit')
        +panel()
            +container('container_colorsTypes')
                +colors()
                    +color(['Dark Shade 100%', '#1F2041'])
                    +color(['Dark Shade 75%', '#1F2041'], 'color_shade75')
                    +color(['Dark Shade 50%', '#1F2041'], 'color_shade50')
                    +color(['Dark Shade 25%', '#1F2041'], 'color_shade25')
                    +color(['Dark Shade 5%', '#1F2041'], 'color_shade5')
                    +color(['Purple', '#BC9CFF'], 'color_purple')
                    +color(['Green', '#6FCF97'], 'color_green')
                +types()
        +panel()
            +container('container_formElements')
        +panel()
            +container('container_cards')
        +panel()
            +container('container_headersFooters')
    +js('vendors.js')
    +js('main.js')  
    +js('uikit.js')