extends ../_templates/main/main

include ../../core/init/init

block css
    +css("main.css")
    +css("uikit.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    +js('uikit.js')
block title 
    | index.html
block body 
    +page(params={mod:'page_uikit'})
        +panel()
            +content(params={mod:'theme-colorsTypes_content'})
                +column(params={mod:'theme-colorsTypes_column'})
                    +color(elem={example:{mod:'color-example_dark'},name:{block:'Dark Shade 100%'}, hex:{block:'#1F2041'}})
                    +color(elem={example:{mod:'color-example_dark75'},name:{block:'Dark Shade 75%'}, hex:{block:'#1F2041'}})
                    +color(elem={example:{mod:'color-example_dark50'},name:{block:'Dark Shade 50%'}, hex:{block:'#1F2041'}})
                    +color(elem={example:{mod:'color-example_dark25'},name:{block:'Dark Shade 25%'}, hex:{block:'#1F2041'}})
                    +color(elem={example:{mod:'color-example_dark5'},name:{block:'Dark Shade 5%'}, hex:{block:'#1F2041'}})
                    +color(elem={example:{mod:'color-example_purple'},name:{block:'Purple'}, hex:{block:'#BC9CFF'}})
                    +color(elem={example:{mod:'color-example_green'},name:{block:'Green'}, hex:{block:'#6FCF97'}})
                +column(params={mod:'theme-colorsTypes_column'})
                    +type(mod='type_h1',elem={tag:{block:'H1'},example:{block:'This one is the sub-section or widget title'}})
                    +type(mod='type_h2',elem={tag:{block:'H2'},example:{block:'Next one is the item title inside widgets'}})
                    +type(mod='type_h3',elem={tag:{block:'H3'},example:{block:'This is a label or CTA text'}})
                    +type(elem={tag:{block:'Body'},example:{block:'This is the body text which is used for most of the design, like paragraphs, lists, etc.'}})
        +panel()
            +content(params={mod:'theme-formElements_content'})
                +column(params={mod:'theme-formElements_column'})
                    +form(params={mod:'theme-formElements_form theme-formElements_form_wide'})
                        +container(params={mod:'theme-formElements_container theme-formElements_container_input'})
                            +form-input(params={
                                title:{
                                    text: {tag:'h3', value:'Text field'},
                                    subtext: {tag:'h3', value:'Default'}
                                },
                                input:{
                                    attr:{
                                        type:'text',
                                        placeholder: 'Email'}
                                }
                            })
                            +form-input(params={
                                title:{
                                    text: {tag:'h3', value:'Text field'},
                                    subtext: {tag:'h3', value:'Hover / Focus'}
                                },
                                input:{
                                    mod:'input_hovered',
                                    attr:{
                                        type:'text',
                                        value:'This is pretty awesome'
                                    }
                                }
                            })
                            +form-dropdown(params={
                                title:{
                                    text: {tag:'h3', value:'Dropdown'},
                                    subtext: {tag:'h3', value:'Default'}
                                },
                                input:{
                                    attr:{
                                        type:'text',
                                        value:'Сколько гостей',
                                    }
                                }
                            })
                            +form-input(params={
                                title:{
                                    text: {tag:'h3', value:'Masked text field'},
                                    subtext: {tag:'h3', value:'Default'}
                                },
                                input:{
                                    attr:{
                                        type:'text',
                                        placeholder:'ДД.ММ.ГГГГ'
                                    },
                                    js:"js-input_maskDate"
                                }
                            })
                    +form(params={mod:'theme-formElements_form theme-formElements_form_wide'})
                        +form-selectDate(params={
                            arrival:{
                                title:{
                                    text: {tag:'h3', value:'date Dropdown'}
                                },
                                input:{
                                    attr:{
                                        type:'text',
                                        placeholder:'ДД.ММ.ГГГГ'
                                    },
                                    js:"js-input_maskDate"
                                }
                            },
                            leave:{
                                title:{
                                    text: {tag:'h3', value:'date Dropdown'}
                                },
                                input:{
                                    attr:{
                                        type:'text',
                                        value:'19.08.2019',
                                        placeholder:'ДД.ММ.ГГГГ'
                                    },
                                    js:"js-input_maskDate"
                                }
                            }
                        })
                    +form(params={mod:'theme-formElements_form'})
                        +form-dropdown(params={
                            title:{
                                text: {tag:'h3', value:'filter date dropdown'}
                            },
                            input:{
                                attr:{
                                    value:'19 авг - 23 авг',
                                }
                            }
                        })
                    +form(params={mod:'theme-formElements_form'})
                        +form-input(params={
                            title:{
                                text: {tag:'h3', value:'subscription text field'}
                            },
                            input:{
                                attr:{
                                    type:'text',
                                    placeholder:'Email'
                                }
                            },
                            button:{
                                enable: true
                            }
                        })
                +column(params={mod:'theme-formElements_column theme-formElements_column_central'})
                    +form(params={mod:'theme-formElements_form'})
                        +title(params={
                            text:{tag:'h3',value:'Checkbox buttons'}
                        })
                        +container(params={mod:'theme-formElements_container theme-formElements_container_checkbox'})
                            +form-checkbox(params={
                                title:{
                                    text:{
                                        value:'Можно курить'
                                    }
                                }
                            })
                            +form-checkbox(params={
                                title:{
                                    text:{
                                        value:'Можно с питомцами'
                                    }
                                },
                                input:{attr:{checked:''}}
                            })
                            +form-checkbox(params={
                                title:{
                                    text:{
                                        value:'Можно пригласить гостей (до 10 человек)'
                                    }
                                },
                                input:{attr:{checked:''}} 
                            })
                    +form(params={mod:'theme-formElements_form'})
                        +title(params={
                            text:{tag:'h3',value:'Radio buttons'}
                        })
                        +container(params={mod:'theme-formElements_container theme-formElements_container_radio'})
                            +form-radio(params={
                                title:{
                                    text:{
                                        value:'Мужчина'
                                    }
                                },
                                input:{attr:{name:'testRadio', checked:''}} 
                            })
                            +form-radio(params={
                                title:{
                                    text:{
                                        value:'Женщина'
                                    }
                                },
                                input:{attr:{name:'testRadio'}} 
                            })
                    +form(params={mod:'theme-formElements_form'})
                        +title(params={
                            text:{tag:'h3',value:'Toggle'}
                        })
                        +container(params={mod:'theme-formElements_container theme-formElements_container_toggle'})
                            +form-toggle(params={
                                title:{
                                    text:{
                                        value:'Получать спецпредложения'
                                    }
                                },
                                input:{attr:{name:'testRadio', checked:''}} 
                            })
                            +form-toggle(params={
                                title:{
                                    text:{
                                        value:'Получать спецпредложения'
                                    }
                                },
                                input:{attr:{name:'testRadio'}} 
                            })
                    +form(params={mod:'theme-formElements_form'})
                        +title(params={
                            text:{tag:'h3',value:'like button'}
                        })
                        +container(params={mod:'theme-formElements_container theme-formElements_container_like'})
                            +form-like(params={
                                button:{
                                    value:'2'
                                },
                                input: {
                                    mod:'theme-formElements_form-like_input'
                                }
                            })
                            +form-like(params={
                                button:{
                                    value:'12'
                                },
                                input:{
                                    attr:{checked:''}
                                }
                            })
                    +form(params={mod:'theme-formElements_form'})
                        +title(params={
                            text:{tag:'h3',value:'rate button'}
                        })  
                        +container(params={mod:'theme-formElements_container theme-formElements_container_rate'})
                            +form-rate(params={
                                defaultRate: 4,
                                input:{attr:{name:'rateButtons1'}}
                            })     
                            +form-rate(params={
                                defaultRate: 5,
                                input:{attr:{name:'rateButtons2'}}
                            })                                           
                +column(params={mod:'theme-formElements_column'})
                    +form(params={mod:'theme-formElements_form'})
                        +container(params={mod:'theme-formElements_container theme-formElements_container_slider'})
                            +form-slider(params={
                                title: {
                                    text:{tag:'h3',value:'range slider'},
                                    subtext:{tag:'h3'}
                                },                                
                                defaultPoints: [5000, 10000, 12000],
                                input:{attr:{name:'rateButtons1', min:'0', max:'15000', postfix: '₽'}}
                            })   
        +panel()
    +js('vendors.js')