mixin css(href)
    link(rel="stylesheet", href='css/'+href)

mixin js(src)
    script(type="text/javascript" src='js/'+src)

mixin mergeObj(obj1, obj2)
    - if(!obj1) obj1 = obj2
    - else {
        - for(var key in obj2) {            
            - if(typeof obj2[key] === 'object') {
                - obj1[key] = key in obj1?obj1[key]:{}
                +mergeObj(obj1[key], obj2[key])
            - } else {     
                - obj1[key] = key in obj1?obj1[key]:''       
                case key
                    when 'mod'
                        - obj1[key] += ' ' + obj2[key]
                    when 'js'
                        - obj1[key] += ' ' + obj2[key]
                    default
                        - obj1[key] = obj2[key]
            - }
        - }
    - }