include title-text/title-text
include title-subtext/title-subtext

mixin title()
    if attributes.params
        - var mod = ''
        - var params = attributes.params
        - mod = params.mod?mod + ' ' + params.mod:mod
        - var text = params.text?params.text:{}
        - var subtext = params.subtext?params.subtext:{}
        - subtext.mod = 'title-text_subtext' + (subtext.mod?' ' + subtext.mod:'')        

        span(class=`title${mod}`)
            +title-text(params=text)
            +title-subtext(params=subtext)