include title-text/title-text
include title-subtext/title-subtext

mixin title()
    - var params = {}
    - params.mod = 'title'
    - params.value = ''

    if attributes.params
        +mergeObj(params, attributes.params)

    span(class=params.mod)
        | #{params.value}
        +title-text(params=params.text)
        +title-subtext(params=params.subtext)
        block