mixin form-selectDate()
    - var mod = ''
    if attributes.params
        - var params = attributes.params
        - var mod = params.mod?mod + ' ' + params.mod:mod
        - var arrival = params.arrival?params.arrival:{} 
        - var leave = params.leave?params.leave:{} 

    div(class=`form-selectDate${mod}`)
        +form-dropdown(params=arrival)  
        +form-dropdown(params=leave)
        block