mixin form-selectDate()
    - var params = {}
    - params.mod = 'form-selectDate'
    - params.arrival = {mod: params.mod + '_arrival'}
    - params.leave = {mod: params.mod + '_leave'}

    if attributes.params
        +mergeObj(params, attributes.params)   

    div(class=params.mod) 
        +form-dropdown(params=params.arrival)  
        +form-dropdown(params=params.leave)
        block