//test mixins
=test($textColor:'', $bodyColor:'')
  @if $textColor
      &.test_text
        color: $textColor
  @if $bodyColor
      &.test_body
      background-color: $bodyColor




  
// fonts
=font-face($family, $path, $svg, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: url('#{$path}.eot')
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg##{$svg}') format('svg')
    font-weight: $weight
    font-style: $style

// sizes
$size_containerWidth: 1440px;

// icons
$form-dropdown_button: '\e5cf'
$form-checkbox_button: '\e5ca'
$form-input_button: '\e5c8'
$form-radio_button: '\e3a6'
$form-toggle_button: '\e3a6'
$form-like_button: '\e87e'
$form-like_button_checked: '\e87d'
$form-rate_button: '\e83a'
$form-rate_button_checked: '\e838'

// responsive sizes

// colors
@function tint($color, $percentage) 
    @return mix(white, $color, $percentage)


$color_dark: #1F2041
$color_dark75: tint($color_dark, 25%)
$color_dark50: tint($color_dark, 50%)
$color_dark25: tint($color_dark, 75%)
$color_dark5: tint($color_dark, 95%)
$color_green: #6FCF97
$color_greenGradiend: #6FCF97
$color_purple: #BC9CFF
$color_purpleGradiend: #BC9CFF