include ./_lib/page/page
include ./_lib/column/column
include ./_lib/container/container
include ./_lib/title/title
include ./_lib/dropdown/dropdown
include ./_lib/button/button
include ./_lib/icon/icon
include ./_lib/image/image
include ./_lib/form/form
include ./_lib/list/list


include ./color/color
include ./type/type
include ./feature/feature
include ./comment/comment
include ./findRoom/findRoom
include ./registration/registration
include ./reservation/reservation
include ./login/login
include ./calendar/calendar
include ./room/room
include ./card/card
include ./price/price
include ./slider/slider