include dropdown-title/dropdown-title
include dropdown-body/dropdown-body
include dropdown-element/dropdown-element

mixin dropdown()
    - var title = attributes.title?attributes.title:{}
    - var options = attributes.options?attributes.options:{}
    - var mod = attributes.mod?' ' + attributes.mod:''

    div(class=`dropdown${mod}`)
        +dropdown-title(mod=title.mod)
            | #{title.block}
        //- +dropdown-body()            
        //-     block