@import 'input/input'
@import 'label/label'

@import 'form-selectDate/form-selectDate'
@import 'form-checkbox/form-checkbox'
@import 'form-toggle/form-toggle'
@import 'form-input/form-input'
@import 'form-dropdown/form-dropdown'
@import 'form-radio/form-radio'
@import 'form-like/form-like'
@import 'form-rate/form-rate'
@import 'form-slider/form-slider'

    
=form($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    .form#{$mixinClass}
        width: 100%
        display: block
        +label
        +input
        +form-selectDate
        +form-checkbox     
        +form-input
        +form-dropdown
        +form-radio
        +form-toggle        
        +form-like
        +form-rate
        +form-slider
    @content

    