@import 'form-input/form-input'
@import 'form-dropdown/form-dropdown'
@import 'form-selectDate/form-selectDate'
@import 'form-checkbox/form-checkbox'
    
=form($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    >.form#{$mixinClass}
        display: grid
        grid-gap: 20px
        width: 100%
        +form-input()
        +form-dropdown()
        +form-selectDate()
        +form-checkbox()
        @content