include input/input
include label/label

include form-input/form-input
include form-dropdown/form-dropdown
include form-selectDate/form-selectDate
include form-checkbox/form-checkbox
include form-radio/form-radio

mixin form()
    - var mod = ''
    if attributes.params
        - var params = attributes.params
        - mod = params.mod?mod + ' ' + params.mod:mod

    form(class=`form${mod}`)
        block