mixin input()
    - var params = {}
    - params.mod = 'input'
    - params.js = ''
    - params.attr = {type:'text'}

    if attributes.params
        +mergeObj(params, attributes.params)

    input(class=params.mod+' '+params.js)&attributes(params.attr)