mixin title(extData = {})
    -
        var data = {
            attr: {class: 'title'},            
            text: {tag: 'span'},
            subtext: {tag: 'span'}
        }

    if extData
        +mergeData(data, extData)

    div&attributes(data.attr)
        #{data.text.tag}.title-text&attributes(data.text.attr)
            | #{data.text.content}
        #{data.subtext.tag}.title-subtext&attributes(data.subtext.attr)
            | #{data.subtext.content}
        block