mixin icon()
    - var params = {}
    - params.mod = 'material-icons icon'
    - params.value = ''

    if attributes.params
        +mergeObj(params, attributes.params)
        
    i(class=params.mod)
        | #{params.value}
        block