include ../pug/mixins

include ../blocks/page/page
include ../blocks/panel/panel
include ../blocks/container/container

include ../blocks/colors/colors
include ../blocks/color/color

include ../blocks/types/types
include ../blocks/type/type

