include ../pug/mixins

include ../blocks/page/page
include ../blocks/panel/panel
include ../blocks/content/content
include ../blocks/column/column
include ../blocks/container/container

include ../blocks/color/color
include ../blocks/type/type

include ../blocks/title/title
include ../blocks/button/button
include ../blocks/icon/icon
include ../blocks/form/form
include ../blocks/button/button