include ../pug/mixins

include ../blocks/page/page
include ../blocks/colorsTypes/colorsTypes
include ../blocks/formElements/formElements
include ../blocks/cards/cards
include ../blocks/headersFooters/headersFooters