include ../pug/mixins

include ../blocks/page/page
include ../blocks/panel/panel
include ../blocks/container/container
include ../blocks/column/column
include ../blocks/title/title

include ../blocks/color/color
include ../blocks/type/type
include ../blocks/element/element

include ../blocks/input/input
include ../blocks/select/select

include ../blocks/dropdown/dropdown
include ../blocks/selectDate/selectDate
