include select-option/select-option

mixin select()
    - var options = attributes.options?attributes.options:{}
    - var mod = attributes.mod?' ' + attributes.mod:''

    select(class=`select${mod}`)
        each prop, index in options
            +select-option(mod=prop.mod, attr=prop.attr)
                | #{prop.block}
        block