=select($mixinClass:'')
    @if $mixinClass != ''
        $mixinClass: '.#{$mixinClass}'

    >.select#{$mixinClass}
        width: 320px
        height: 42px
        padding: 0
        border: 1px solid $color_dark25
        border-radius: 4px
        outline: none
        background: url('/img/arrow_down.png') no-repeat right
        appearance: none
        @content