mixin form-input()
    - var mod = ''
    if attributes.params
        - var params = attributes.params
        - mod = params.mod?mod+ ' ' + params.mod:mod
        - var label = params.label?params.label:{}
        - var title = params.title?params.title:{}
        - var input = params.input?params.input:{} 
        - var button = params.button?params.button:{}
        - label.mod = 'form-label form-label_input' + (title.label?' ' + title.label:'')   
        - title.mod = 'form-title form-title_input' + (title.mod?' ' + title.mod:'')  
        - input.mod = 'form-input' + (input.mod?' ' + input.mod:'')  
        - button.mod = 'form-button' + (button.mod?' ' + button.mod:'')    

    +label(params=label)
        +title(params=title)
        +input(params=input)    
        +button(params=button)