mixin title-subtext()
    - var params = {}
    - params.mod = 'title-subtext'
    - params.value = ''
    - params.tag = 'span'

    if attributes.params
        +mergeObj(params, attributes.params)

    #{params.tag}(class=params.tag+' '+params.mod)
        | #{params.value} 
        block