mixin button(extData = {})
    - var data = {attr: {class: 'button' }}

    if extData
        +mergeData(data, extData)

    button(type='button')&attributes(data.attr)
        div.helper_button_border #{data.content}
        block