include selectDate-arrival/selectDate-arrival
include selectDate-leave/selectDate-leave

mixin selectDate()
    - var elem = attributes.elem?attributes.elem:{}
    - var mod = attributes.mod?' ' + attributes.mod:''

    div(class=`selectDate${mod}`)
        +selectDate-arrival()
            +title(block='Date Dropdown')
            +dropdown(title={block:'ДД.ММ.ГГГГ'})  
        +selectDate-leave()
            +title(block='Date Dropdown')
            +dropdown(title={block:'ДД.ММ.ГГГГ'})  
        block